.game-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto;
  background-color: #9055a2;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  min-width: 750px;

}

.game-card {
  margin: 10px auto;
  background-color: pink;
  font-size: 50px;
  font-weight: bold;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.game-rules {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}


.game-card-up {
  background-color: #fff;
  color: red;
}
.game-card-winner {
  background-color: #fff;
  color: red;
  border: 2px solid blue;
}
.game-card > span {
  visibility: hidden;
  /* display: none; */
}
